#clock {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin-top: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#character {
    text-align: left;
}
