<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <p>bla bla bla</p>

    <%= serverData %>

    <form method="GET" action="/sign">
        <input type="text" placeholder="enter ur name " name="guestName"/>
        <input type="submit" value="Sign Guestbook" />
    </form>

</body>
</html>